<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")%>
<body>
    <%- include("../partial/header")%>
    <h2><%= data.Country%></h2>
    <p><%= data.TotalConfirmed%></p>
    <p><%= data.TotalDeaths%></p>
    <p><%= data.TotalRecovered%></p>
    <p><%= data.Date%></p>
    <form action="/delete/<%=data.id%>?_method=delete" method="post">
        <button>Delete</button>
    </form>
    <button onclick=toggleDiv()>Show Form</button>
    <div id="hiddenDiv">
        <form action="/updata/<%=data.id%>?_method=put" method="post">
            <input type="text" name="" value="<%= data.Country%>">
            <input type="text" name="" value="<%= data.TotalConfirmed%>">
            <input type="text" name="" value="<%= data.TotalDeaths%>">
            <input type="text" name="" value="<%= data.TotalRecovered%>">
            <input type="text" name="" value="<%= data.Date%>">
            <button>Update</button>
        </form>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../js/app.js"></script>

</html>